/* styles for everything */
body {
  /* position degree area and planning area */
  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;

  background-color: #2A4260;

  /* default font color */
  color: #ecf0f1;
}

/* apply font to everything */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/* button defaults */
button {
  background-color: #7f8c8d;
  color: #ecf0f1;

  border: none;
  border-radius: 2px;

  padding: 10px 10px;

  transition-duration: .4s;

  font-size: 14pt;
}

/* button hover defaults */
button:hover {
  background-color: #dce0e0;
  color: #2c3e50;

  padding: 15px 15px;

  transition-duration: .4s;
}

/* close button defaults */
.close-btn {
  align-self: flex-end;
  background-color: #c0392b;
}

/* defaults for an input field */
input {
  background-color: #7f8c8d;
  color: #ecf0f1;

  border: none;
  border-radius: 2px;

  padding: 10px;

  transition-duration: .4s;

  font-size: 14pt;
}

/* palceholder text impossible to see otherwise */
input::placeholder {
  color: #ecf0f1;

  transition-duration: .4s;
}

/* input hover defaults */
input:hover {
  background-color: #dce0e0;
  color: #2c3e50;

  padding: 15px;

  transition-duration: .4s;
}

/* same thing it's impossible to see placeholder */
input:hover::placeholder {
  color: #2c3e50;

  transition-duration: .4s;
}

/* labels were a bit too small to read easily */
label {
  font-size: 14pt;
}

/* image defaults so they are always centered */
img {
  display: block;

  margin-left: auto;
  margin-right: auto;

  max-height: 100%;
  max-width: 100%;
}

/* form defaults using style guide */
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 0px 50px 2px #2D547A;
  border-radius: 2px;

  display: none;

  flex-direction: column;
  padding: 15px;

  background-color: #2A4260;

  z-index: 5;

  gap: 10px;
}

/* select dropdown dingus style, currently only select a semester */
/* basically same as a button */
select {
  background-color: #7f8c8d;
  color: #ecf0f1;

  border: none;
  border-radius: 2px;

  padding: 10px;

  transition-duration: .4s;

  font-size: 14pt;
}

/* when you hover over a select dropdown box dingus do this */
select:hover {
  background-color: #dce0e0;
  color: #2c3e50;

  padding: 15px;

  transition-duration: .4s;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #555;
}

/* p5js canvas fixes so always covers entire screen exactly */
canvas {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;
}
