/* menu div */
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  margin: 10px;

  position: fixed;

  width: 70%;
}

/* each menu button */
.menu-option {
  transition-duration: .4s;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0);

  width: 100px;
  height: 100px;
}

/* when hovering over a menu button */
.menu-option:hover {
  box-shadow: 0px 0px 50px 2px #2D547A;
  transition-duration: .4s;
}

/* spacer so elements don't overlap the navigation menu */
#nav-spacer {
  width: 100%;
  height: 110px;
}

/* do trashcan a little different */
#trashcan {
  margin-left: auto;
}

/* make children of trash not get in way of stuff */
#trashcan * {
  pointer-events: none;
}

/* cahnge hover from button defaults */
#trashcan:hover {
  background-color: #c0392b;
}

/* so, annoyingly, while dragging over we can't do button stuff, so, do nonsense */
.dragging-trash {
  transition-duration: .4s;

  background-color: #c0392b;

  padding: 15px 15px;
}
