/* add course container */
.add-course-div {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2A4260;
  padding: 10px 10px;
  border: none;
  box-shadow: 0px 0px 50px 2px #2D547A;
  height: 80%;
  overflow-y: auto;
  color: #ecf0f1;
}

.add-course-div * {
  color: #ecf0f1;
}

/* form for adding a course */
.add-course-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 5px;
}

.add-course-form>input {
  margin-bottom: 10px;
}

/* prereq group divs */
.prereqGroupDiv {
  display: flex;
  flex-wrap: wrap;
}
