button {
  background-color: #7f8c8d;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: .4s;
}

button:hover {
  background-color: #dce0e0;
  padding: 15px 15px;
  transition-duration: .4s;
  color: black;
}

input {
  background-color: #7f8c8d;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: .4s;
}

input::placeholder {
  color: white;
}

input:hover::placeholder {
  color: black;
}

input:hover {
  background-color: #dce0e0;
  padding: 15px 15px;
  transition-duration: .4s;
  color: black;
}

textarea {
  background-color: #7f8c8d;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: .4s;
}

textarea::placeholder {
  color: white;
}

textarea:hover::placeholder {
  color: black;
}

textarea:hover {
  background-color: #dce0e0;
  padding: 10px 10px;
  transition-duration: .4s;
  color: black;
}
