/* div holding node edit buttons */
.edit-nodes-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 40%;
  box-shadow: 0px 0px 50px 2px #2D547A;
  /*transform: translate(-50%, 0%);*/
  overflow-y: auto;
}

/* edit nodes form */
.edit-node-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-node-form > h1 {
  margin-bottom: 5px;
  text-align: center;
}

.edit-node-form > h2 {
  text-align: center;
}

#course-checkboxes > label {
  font-weight: bold;
  text-decoration: underline;
}

#course-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
}

/* the p are really spaced so getting rid of that */
.edit-node-form>p {
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
}

/* change checkboxes */
input[type=checkbox] {
  transform: scale(3);
  padding: 20px;
  margin: 20px;
}
