/* div holding node edit buttons */
.edit-nodes-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 5px;
  width: 20%;
}

/* edit nodes form */
.edit-node-form {
  display: flex;
  flex-direction: column;
}

/* the p are really spaced so getting rid of that */
.edit-node-form>p {
  margin: 0px 0px;
  padding: 0px 0px;
}

/* change checkboxes */
input[type=checkbox] {
  transform: scale(2);
  padding: 20px;
  margin: 20px;
}
