/* Help Menu Stuff */
/* Div with the help menu */
.help-menu-div {
  position: absolute;
  display: none;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2A4260;
  box-shadow: 0px 0px 50px 2px #2D547A;
  border: none;
  border-radius: 5px;
  height: 80%;
  width: 90%;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
}

.help-menu-div * {
  color: white;
}

.help-left-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  margin: 0px 0px;
  overflow-y: auto;
  box-shadow: 0px 0px 50px 2px #2D547A;
}

.helpbutton {
  background-color: #7f8c8d;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 2px;
  transition-duration: .4s;
  color: white;
}

.helpbutton:hover {
  background-color: #dce0e0 !important ;
  padding: 20px 10px;
  transition-duration: .4s;
  color: black;
}

.help-right-content {
  flex: 5;
  display: block;
  border: none;
  border-radius: 5px;
  margin: 0px 0px;
  padding: 10px;
}

/* the divs stuff time */
.helpdivs {
  display: none;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 10px 10px;
}

img {
  width: 60%;
  height: auto;
}

/* having hr issues */
hr {
  width: 100%;
}

#defaultviewvideo {
  width: 60%;
  height: auto;
}

#closehelp {
  transform: translate(-20%, 20%);
}
