/* Entire legend */
.legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
  top: 2%;
  align-items: stretch;
  font-size: 125%;
  background-color: none;
  padding: 5px 5px;
}

/* Each element of legend */
.legend_color {
  font-size: 100%;
  padding: 5px 5px;
  margin: 2px 2px;
  border-radius: 2px;
  box-shadow: 0px 0px 50px 2px #2D547A;
}
