.closex {
  position: fixed;
  right: 0%;
  transform: translate(-10%, -10%);
  background-color: red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #555;
}

main * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

body {
  overflow: hidden;
}
