/* contains all the menus in the top left */
.menus {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 2%;
  top: 2%;
  align-items: flex-start;
}

/* div holding the edit menu */
.edit-dropdown {
  /*
  position: absolute;
  right: 2%;
  top: 2%;
  */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* when you hover edit menu change some child stuff */
.edit-dropdown:hover #dropdown-content {
  display: flex;
}

.edit-dropdown:hover .dropbtn {

}

/* dropdown button styles */
.dropbtn {
  font-size: 18px;
}

/* div holding dropdown content */
#dropdown-content {
  display: none;
  flex-direction: column;
}

/* style for the buttons within the edit menu */
.editbuttons {
    padding: 5px 5px;
}

/* when hovering over an edit button do some stuff */
.editbuttons:hover {

}

/* some stuff for the file dropdown */
.save-dropdown {
  /*
  position: absolute;
  right: 2%;
  bottom: 2%;
  */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#save-content {
  display: none;
  flex-direction: column;
}

.save-dropdown:hover #save-content {
  display: flex;
}

/* file form styling */
.fileform {
  display: flex;
  flex-direction: column;
}

/* add course container */
.add-course-div {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 4px;
  height: 80%;
  overflow-y: auto;
}

/* form for adding a course */
.add-course-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 5px;
}

.add-course-form>input {
  margin-bottom: 10px;
}

/* prereq group divs */
.prereqGroupDiv {
  display: flex;
  flex-wrap: wrap;
}

/* add note container */
.add-note-div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

/* add note form */
.add-note-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

/* template div that holds the form for loading templates */
.template-div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

/* form for loading templates */
.template-form {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 10px;
}

/* div holding load files form */
.fileloader-div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

/* form for loading files */
.fileloader-form {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 10px;
}

/* File loading buttons need some thickness */
.filebtn {
  padding: 5px 5px;
}

/* div holding node edit buttons */
.edit-nodes-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  gap: 10px;
}

/* edit nodes buttons */
.edit-nodes-div>button {
  padding: 5px 5px;
}
