body {
  overflow: hidden;
}

/* node basics / defaults */
.map-node {
  transform: translate(-50%, -50%);

  background-color: #2A4260;

  box-shadow: 0px 0px 50px 5px #2D547A;
  border: none;
  border-radius: 5px;

  padding: 10px;

  text-wrap: nowrap;
  white-space: nowrap;
  user-select: none;

  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* if the mapnode is a child of another one no box shadow */
.child-map-node {
  box-shadow: none;
}

/* course code in the map node courses */
.map-course-code {
  font-weight: bold;
}

/* course name in the map node courses */
.map-course-name {

}

/* note title in the map node notes */
.map-note-title {

}

/* note text in the map node notes */
.map-note-text {

}
